[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
yapf = "*"
safety = "*"
django-stubs = "*"

[packages]
django-sortedm2m = "*"
icalendar = "*"
pytz = "*"
requests = "*"
ndh = "*"
django-autoslug = "*"
Django = "*"
Pillow = "*"

[requires]
python_version = "3.8"
