django
django-bootstrap3
django-sortedm2m
icalendar
pillow
pytz
requests
git+https://github.com/nim65s/ndh.git#egg=ndh
git+https://github.com/nim65s/django-autoslug.git#egg=django-autoslug
git+https://github.com/nim65s/django-jugemaj.git#egg=django-jugemaj
