{% extends "main.html" %}

{% block titre %}Nim’s web.log: CinéNim \o/ β{% endblock %}
{% block soustitre %}CinéNim \o/ β{% endblock %}

{% block nav %}
    <li><a href="{% url 'cine:home' %}">Prévisions</a></li>
    <li><a href="{% url 'cine:films' %}">Films</a></li>
    <li><a href="{% url 'cine:dispos' %}">Dispos</a></li>
    <li><a href="{% url 'cine:votes' %}">Votes</a></li>
    <li><a href="{% url 'cine:cinephiles' %}">Cinéphiles</a></li>
    <li><a href="{% url 'cine:about' %}">À propos de CinéNim</a></li>
    <li><a href="{% url 'cine:faq' %}">FAQ</a></li>
{% endblock %}
