{% extends "base.html" %}

{% block title %}CinéNim{% endblock %}

{% block navbar-right %}
  <form class="navbar-form inline-form pull-right" role="form" method="get" action="{% url 'cine:ajout_film' %}">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="ID IMDB" name="imdb_id" />
    </div>
    <button type="submit" class="btn">
      Ajouter un film
    </button>
  </form>
{% endblock %}

{% block maincontent %}{% block content %}{% endblock %}{% endblock %}
