{% extends "cine/cine.html" %}

{% block content %}
<h1>Commentaires sur {{ film.titre }}</h1>
<div id="{{ film.slug }}">
    <h2>{{ film.titre }} ({{ film.get_categorie }}) {% if film.vu %}(déjà vu) {% endif %}{% if film.respo == request.user %}(<a href="{% url 'cine:films' %}?edit={{ film.slug }}">edit</a>){% endif %}</h2>
    <p>{{ film.description|linebreaks }}</p>
    <dl>
        <dt>respo</dt><dd>{{ film.respo.username }} − <a href="{% url 'cine:films' %}?respo={{ film.respo.username }}">ne voir que ses films</a></dd>
        {% if film.titre_vo %}
            <dt>Titre VO</dt><dd>{{ film.titre_vo }}</dd>
        {% endif %}
        {% if film.realisateur %}<dt>Réalisateur</dt><dd>{{ film.realisateur }}</dd>{% endif %}
        {% if film.duree %}<dt>Durée</dt><dd>{{ film.duree }}</dd>{% endif %}
        {% if film.imdb or film.allocine %}
            <dt>Lien(s)</dt>
            <dd>
                {% if film.imdb %}<a href="{{ film.imdb }}">IMDB</a>{% endif %}
                {% if film.allocine %}<a href="{{ film.allocine }}">Allociné</a>{% endif %}
            </dd>
        {% endif %}
        <dt>Commentaires</dt><dd>{{ film.commentaire_set.count }}</dd>
    </dl>
</div>

{% for comm in comms %}
    <div id="{{ forloop.counter }}">
        <h2>{{ comm.posteur.username }}, le {{ comm.date }}</h2>
        <p>{{ comm.commentaire|linebreaks }}</p>
    </div>
{% endfor %}

<h1>Nouveau Commentaire</h1>
<form method="post" action="{% url 'cine:comms' film.slug %}">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    {% if edit %}
        <button type="submit" class="btn">Modifier</button>
    {% else %}
        <button type="submit" class="btn">Ajouter \o/</button>
    {% endif %}
</form>

{% endblock %}
