{% extends "cine/cine.html" %}

{% block content %}
<h1>Disponibilités</h1>

{% for dispo in dispos %}
    <h2>{{ dispo.soiree.date }}</h2>
    <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn btn-primary btn-success{% if dispo.dispo == 'O' %} active{% endif %}" onclick="Dajaxice.cine.dispo(Dajax.process,{'date':'{{ dispo.soiree.date|date:"Y-m-d_H-i" }}','dispo':'O'})">Présent</button>
        <button type="button" class="btn btn-primary btn-danger{% if dispo.dispo == 'P' %} active{% endif %}" onclick="Dajaxice.cine.dispo(Dajax.process,{'date':'{{ dispo.soiree.date|date:"Y-m-d_H-i" }}','dispo':'P'})">Absent</button>
        <button type="button" class="btn btn-primary{% if dispo.dispo == 'N' %} active{% endif %}" onclick="Dajaxice.cine.dispo(Dajax.process,{'date':'{{ dispo.soiree.date|date:"Y-m-d_H-i" }}','dispo':'N'})">Ne sais pas</button>
    </div>
    <dl>
        <dt>Catégorie</dt>
        <dd>{{ dispo.soiree.get_categorie }}</dd>
        <dt>Présents</dt>
        <dd id="presents-{{dispo.soiree.date|date:"Y-m-d_H-i"}}"> {{ dispo.soiree.presents }}</dd>
        <dt>Pas sûrs</dt>
        <dd id="pas_surs-{{dispo.soiree.date|date:"Y-m-d_H-i"}}"> {{ dispo.soiree.pas_surs }}</dd>
    </dl>
{% endfor %}

{% endblock %}

{% block scripts_jquery %}
<script>
    $('.nav-tabs').button()
</script>
{% endblock %}
