{% load cine_extra %}<div id="{{ film.slug }}">
    <h2>
        <a href="{{ film.get_absolute_url }}">{{ film.titre }}</a>
        {% if film.respo == request.user or request.user.is_superuser %}(<a href="{% url 'cine:maj_film' slug=film.slug %}">edit</a>){% endif %}
    </h2>
    {% if film.imdb_poster %}<img src="{{ film.imdb_poster.url }}" alt="poster pour {{ film }}" class="pull-right" />{% endif %}
    <p>{{ film.description|linebreaks }}</p>
    <dl>
        {% if not request.GET.respo or request.GET.respo = 'tous'%}<dt>Respo</dt><dd><a href="{% films_url request 'respo' film.respo %}">{{ film.respo }}</a></dd>{% endif %}
        {% if not request.GET.cat or request.GET.cat = 'toutes' %}<dt>Catégorie</dt><dd><a href="{% films_url request 'cat' film.categorie %}">{{ film.get_categorie }}</a></dd>{% endif %}
        {% if not request.GET.vus or request.GET.vus = 'tous' %}<dt>Vu</dt><dd>
            {% if film.vu %}
                <a href="{% films_url request 'vus' 'vus' %}">Oui</a>
            {% else %}
                <a href="{% films_url request 'vus' 'a_voir' %}">Non</a>
                {% if request.user.is_superuser %} <a href="{% url 'cine:film_vu' slug=film.slug %}">Ça y est \o/</a>{% endif %}
            {% endif %}</dd>
        {% endif %}
        {% if film.annee_sortie %}<dt>Année de sortie</dt><dd>{{ film.annee_sortie }}</dd>{% endif %}
        {% if film.realisateur %}<dt>Réalisateur</dt><dd>{{ film.realisateur }}</dd>{% endif %}
        {% if film.duree_min %}<dt>Durée</dt><dd>{{ film.duree_min }} minutes</dd>{% else %}
        {% if film.titre_vo %}<dt>Titre VO</dt><dd>{{ film.titre_vo }}</dd>{% endif %}
        {% if film.duree %}<dt>Durée</dt><dd>{{ film.duree }}</dd>{% endif %}{% endif %}
        {% if film.imdb or film.allocine %}
            <dt>Lien(s)</dt>
            <dd>
                {% if film.imdb %}<a href="{{ film.imdb }}">IMDB</a>{% endif %}
                {% if film.allocine %}<a href="{{ film.allocine }}">Allociné</a>{% endif %}
            </dd>
        {% endif %}
    </dl>
    <div class="clearfix"></div>
</div>

