{% extends "cine/cine.html" %}
{% load widget_tweaks %}

{% block content %}

<h1>{% if form.instance.id %}Modifier{% else %}Ajouter{% endif %} un film</h1>
<form method="post" action="" class="form-horizontal" role="form">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {% for field in form.visible_fields %}<div class="form-group">
        <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
        <div class="col-sm-10">{{ field|add_class:"form-control" }}</div>
    </div>{% endfor %}
    <div class="form-group"><div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn">C’est bon \o/</button>
    </div></div>
</form>

{% endblock %}
