{% extends "cine/cine.html" %}

{% block content %}
<h1>Prévisions</h1>

<p>/!\Les résultats se font en fonction des disponibilités des gens… donc <a href="{% url 'cine:dispos' %}">allez renseigner les votres !</a>/!\</p>

<p>Déjà {{ nombre_films_vus }} films vus !</p>

<p><a href="http://perso.saurel.me{% url 'cine:ics' %}">Téléchargez</a>, ou même <a href="webcal://perso.saurel.me{% url 'cine:ics' %}">abonnez-vous</a> au calendrier CinéNim !</p>

{% for soiree, liste, autres in films %}
    <h2>{{ soiree.date }} ({{soiree.get_categorie}})</h2>
    <h3>Films disponibles</h3>
    {% for score, film in liste %}
        <p>{{ score }} » <a href="{% url 'cine:films' %}#{{ film.slug }}">{{ film.titre }}</a></p>
    {% endfor %}
    <h3>Films indisponibles</h3>
    {% for score, film in autres %}
        <p>{{ score }} » <a href="{% url 'cine:films' %}#{{ film.slug }}">{{ film.titre }}</a> ({{ film.respo.username }} n’a pas précisé qu’il était disponible)</p>
    {% endfor %}
{% endfor %}

{% endblock %}
