{% extends "cine/cine.html" %}

{% block content %}
    <h1>Votes !</h1>
    <form action="" method="POST" class="text-center">
        {% csrf_token %}
        <input name="ordre" value="" type="hidden"/>
        <button type="submit" class="btn">Voter !</button>
    </form>

    <br>

    <ul id="sortable">
        {% for vote in votes %}
        <li class="ui-state-default" {% if vote.choix == 9999 %}style="background: red;"{% endif %} data-slug="{{ vote.film.slug }}"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{ vote.film.titre }} (<a style="color: #08c;" href="{{ vote.film.get_absolute_url }}">lien</a>) - <a style="color: #08c;" href="{% url 'cine:veto' pk=vote.pk %}">veto</a></li>
        {% endfor %}
    </ul>
{% endblock %}


{% block js %}
    <script>
        $(function() {
            $( "#sortable" ).sortable({
                placeholder: "ui-state-highlight",
                stop: function(event, ui) {
                    var data = "";
                    $("#sortable li").each(function(i, el){ data += $(el).data("slug") + ","; });
                    $("form > [name='ordre']").val(data);
                }
            });
            $( "#sortable" ).disableSelection();
        });
    </script>
{% endblock %}
