{% extends "cine/cine.html" %}
{% load ndh %}

{% block content %}
<h1>Cinéphiles</h1>

<a href="{% url 'cine:rajquit' %}" class="btn btn-danger btn-lg">Raj Quit</a>

{% for cinephile in object_list %}
    <div>
        <h2>{{ cinephile }}</h2>
        <p>{{ cinephile.user.get_full_name }}: {{ cinephile.user.email|email:request }}</p>
        {% with veto=cinephile.vetos.all %}{% if veto %}<p>Vétos: {% for v in veto %}{{ v.get_link }} {% endfor %}</p>{% endif %}{% endwith %}
    </div>
{% endfor %}
{% endblock %}
