<div id="{{ film.slug }}">
    <h2>
        <a href="{{ film.get_absolute_url }}">{{ film.titre }}</a>
        {% if film.respo == request.user or request.user.is_superuser %}(<a href="{% url 'cine:maj_film' slug=film.slug %}">edit</a>){% endif %}
    </h2>
    {% if film.imdb_poster %}<img src="{{ film.imdb_poster.url }}" alt="poster pour {{ film }}" class="pull-right" />{% endif %}
    <p>{{ film.description|linebreaks }}</p>
    <dl>
        <dt>Respo</dt><dd>{{ film.respo }}</dd>
        <dt>Vu</dt><dd>{{ film.vu|yesno }}{% if request.user.is_superuser %} <a href="{% url 'cine:film_vu' slug=film.slug %}">Ça y est \o/</a>{% endif %}</dd>
        {% if film.annee_sortie %}<dt>Année de sortie</dt><dd>{{ film.annee_sortie }}</dd>{% endif %}
        {% if film.realisateur %}<dt>Réalisateur</dt><dd>{{ film.realisateur }}</dd>{% endif %}
        {% if film.duree %}<dt>Durée</dt><dd>{{ film.duree }} minutes</dd>{% endif %}
        {% if film.titre_vo %}<dt>Titre VO</dt><dd>{{ film.titre_vo }}</dd>{% endif %}
        {% if film.imdb_id or film.allocine %}
            <dt>Lien(s)</dt>
            <dd>
                {% if film.imdb_id %}<a href="http://www.imdb.com/title/{{ film.imdb_id }}/">IMDB</a>{% endif %}
                {% if film.allocine %}<a href="{{ film.allocine }}">Allociné</a>{% endif %}
            </dd>
        {% endif %}
    </dl>
    <div class="clearfix"></div>
</div>

