{% extends "cine/cine.html" %}
{% load cine_extra %}

{% block content %}
<h1>{{ list_titre }}</h1>
<p>Filtres:<ul>
    <li>Vus: <a href="{% films_url request 'vus' 'tous' %}">Tous</a> - <a href="{% films_url request 'vus' 'vus' %}">Vus</a> - <a href="{% films_url request 'vus' 'a_voir' %}">À voir</a></li>
    <li>Tri: <a href="{% films_url request 'tri' 'defaut' %}">Défaut</a> - <a href="{% films_url request 'tri' 'slug' %}">Slug</a> - <a href="{% films_url request 'tri' 'duree_min' %}">Durée</a> - <a href="{% films_url request 'tri' 'annee_sortie' %}">Année de sortie</a></li>
    <li>Respo: <a href="{% films_url request 'respo' 'tous' %}">Tous</a>{% for respo in respos %} - <a href="{% films_url request 'respo' respo %}">{{ respo }}</a>{% endfor %}</li>
</ul></p>
<p><a href="{% url 'cine:ajout_film' %}">Ajouter un film</a></p>
{% for film in object_list %}{% include 'cine/film.html' %}{% endfor %}
{% endblock %}
