{% extends "cine/cine.html" %}
{% load bootstrap3 %}

{% block content %}

{% if not form.instance.id %}
<h1>Ajouter un film par son ID IMDB</h1>

<form class="form-horizontal" method="get" action="{% url 'cine:ajout_film' %}">
    <div class="form-group">
        <label class="col-md-3 control-label" for="id_imdb_id_only">ID IMDB</label>
        <div class="col-md-6">
            <input class="form-control" id="id_imdb_id_only" maxlength="10" name="imdb_id" placeholder="ID IMDB" required="required" title="" type="text" />
        </div>
    </div>

    {% buttons layout="horizontal" %}
    <button type="submit" class="btn btn-primary">Ok !</button>
    {% endbuttons %}
</form>
{% endif %}

<h1>{% if form.instance.id %}Modifier{% else %}Ajouter{% endif %} un film</h1>

<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}
    {% buttons layout="horizontal" %}
    <button type="submit" class="btn btn-primary">Ok !</button>
    {% endbuttons %}
</form>

{% endblock %}
