{% extends "cine/cine.html" %}

{% block content %}


<h1>Soirées à venir</h1>

{% for soiree in object_list %}
    {% with score_films=soiree.score_films_short %}
        {% include 'cine/soiree.html' %}
    {% endwith %}
{% empty %}
    <p>Rien de prévu pour l’instant</p>
{% endfor %}

<hr>

<p><a href="{% url 'cine:ajout_soiree' %}">Proposez-en une chez vous !</a></p>

<p><a href="https://saurel.me{% url 'cine:ics' %}">Téléchargez</a> le calendrier CinéNim !</p>

<p><a href="https://github.com/nim65s/django-cineclub/issues">Signalez les bugs, ou proposez de nouvelles fonctionnalités</a></p>

{% endblock %}
