{% extends "cine/cine.html" %}

{% block content %}
    <h1>Votes !</h1>
    <form action="" method="POST" class="text-center">
        {% csrf_token %}
        <input name="ordre" value="{% for film in films %}{{ film.slug}},{% endfor %},{% for film in films_pas_classes %}{{ film.slug }},{% endfor %}" type="hidden"/>
        <button type="submit" class="btn">Voter !</button>
    </form>

    <br>

    <ul id="sortable">
        {% for film in films %}
        <li class="ui-state-default" data-slug="{{ film.slug }}"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{ film.titre }} (<a style="color: #08c;" href="{{ film.get_absolute_url }}">lien</a>) - <a style="color: #08c;" href="{% url 'cine:veto' pk=film.pk %}">veto</a></li>
        {% endfor %}
        {% for film in films_pas_classes %}
        <li class="ui-state-default" style="background: red;"  data-slug="{{ film.slug }}"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{ film.titre }} (<a style="color: #08c;" href="{{ film.get_absolute_url }}">lien</a>) - <a style="color: #08c;" href="{% url 'cine:veto' pk=film.pk %}">veto</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block link %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script>
        $(function() {
            $( "#sortable" ).sortable({
                placeholder: "ui-state-highlight",
                stop: function(event, ui) {
                    var data = "";
                    $("#sortable li").each(function(i, el){ data += $(el).data("slug") + ","; });
                    $("form > [name='ordre']").val(data);
                }
            });
            $( "#sortable" ).disableSelection();
        });
    </script>
{% endblock %}
