{% extends "main.html" %}

{% block content %}
<h1>À propos…</h1>
Salut à toi, l’ami(e).


<p>En venant ici, tu t’aventures dans une idée saugrenue de gens qui veulent voir des films.</p>

<p>Alors, pour participer, c’est très simple: tu vas sur la page «Dispos» et tu entres tes Dispos, puis sur la page «Votes» et tu classes les films proposés par ordre de préférence.</p>

<p>La magie opère alors, et prend en compte toutes les soirées où on peut envisager de regarder un film, les disponibilités des gens, l’ordre de préférence des gens qui sont présents en fonction des soirées, l’age du capitaine, et tente d’alterner un minimum entre des films plutôt axés grand spectacle, et d’autres, un peu moins connus.</p>

<p>Ces deux catégories, «Divertissement» &amp; «Culture» sont laissées à la jugeote des gens qui proposent des films. Pour faire simple, je dirai que si ces deux catégories existent, c’est pour varier les plaisirs entre deux choses:
<ul>
    <li>Voir et revoir des œuvres majeures connues de tous</li>
    <li>En faire découvrir d’autres à une majorité qui en a probablement peu (voire jamais) entendu parler</li>
</ul>
</p>

<p>Maintenant, si le cœur t’en dis, tu peux toi aussi proposer un film (ou plusieurs !), dans la section «Films». Tu deviens alors «respo» pour ce film, et c’est à toi d’écrire une petite description, et de donner aux autres l’envie de voir ce film. Tu dois aussi te débrouiller pour apporter le film si jamais la machine a décidé que ce serait le tien. Sur le plan technique, la plus mauvaise qualitée admissible est le DVD, mais les BR sont les bienvenus (mais ils sont chers… à toi de voir ^^).</p>

<h2>Questions diverses…</h2>

<dl>
    <dt>Combien y’a-t-il de places pour une soiée ?</dt>
    <dd>On fournira un nombre approximatif quand on aura un peu d’expérience.</dd>
    <dt>Quel(s) jour(s) de la semaine ce sera en général ?</dt>
    <dd>Sais pas.</dd>
    <dt>À quelle fréquence ?</dt>
    <dd>Idem</dd>
    <dt>L’âge du capitaine ?</dt>
    <dd>Quel capitaine ?</dd>
    <dt>Voulez-vous coucher avec moi ce soir ?</dt>
    <dd>Les films pour adultes ne sont pas (encore) au programme.</dt>
    <dt>Quand est-ce qu’on mange ?</dt>
    <dd>Sais pas non plus.</dd>
</dl>


{% endblock %}
