{% extends "main.html" %}

{% block content %}
{% for date in dates %}
    <div id="{{ date.date|date:"Y-m-d"}}">
        <h2>{{ date.date }}</h2>
        <dl>
            <dt>Catégorie</dt><dd>{{ date.get_categorie }}</dd>
            <dt>Présents</dt><dd>
                {% for dispo in date.presents %}
                    {{ dispo.personne }}{% if not forloop.last %},{% endif %}
                {% endfor %}
                </dd>
            <dt>Pas sûrs</dt><dd>
                {% for dispo in date.pas_surs %}
                    {{ dispo.personne }}{% if not forloop.last %},{% endif %}
                {% endfor %}
                </dd>
        </dl>
    </div>
{% endfor %}
{% endblock %}
