{% extends "main.html" %}

{% block content %}
<h1>Foire aux Questions…</h1>

<dl>
    <dt>Combien y’a-t-il de places pour une soiée ?</dt>
    <dd>On fournira un nombre approximatif quand on aura un peu d’expérience.</dd>
    <dt>Quel(s) jour(s) de la semaine ce sera en général ?</dt>
    <dd>Sais pas.</dd>
    <dt>À quelle fréquence ?</dt>
    <dd>Idem</dd>
    <dt>L’âge du capitaine ?</dt>
    <dd>Quel capitaine ?</dd>
    <dt>Voulez-vous coucher avec moi ce soir ?</dt>
    <dd>Les films pour adultes ne sont pas (encore) au programme.</dt>
    <dt>Quand est-ce qu’on mange ?</dt>
    <dd>Sais pas non plus.</dd>
    <dt>La Mailing-List ?</dt>
    <dd><a href="https://mailman.bde.enseeiht.fr/listinfo/cinenim">Ici</a></dd>
</dl>


{% endblock %}
