{% extends "main.html" %}

{% block content %}
<h1>Films</h1>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9">
            {% for film in films %}
                <div id="{{ film.slug }}">
                    <h2>{{ film.titre }} ({{ film.get_categorie }}) {% if film.respo == request.user %}(<a href="films?edit={{ film.slug }}">edit</a>){% endif %}</h2>
                    <p>{{ film.description }}</p>
                    <dl>
                        <dt>respo</dt><dd>{{ film.respo.username }} (<a href="films?respo={{ film.respo.username }}">filtrer</a>)</dd>
                        {% if film.titre_vo %}
                            <dt>Titre VO</dt><dd>{{ film.titre_vo }}</dd>
                        {% endif %}
                        {% if film.realisateur %}<dt>Réalisateur</dt><dd>{{ film.realisateur }}</dd>{% endif %}
                        {% if film.duree %}<dt>Durée</dt><dd>{{ film.duree }}</dd>{% endif %}
                        {% if film.imdb or film.allocine %}
                            <dt>Lien(s)</dt>
                            <dd>
                                {% if film.imdb %}<a href="{{ film.imdb }}">IMDB</a>{% endif %}
                                {% if film.allocine %}<a href="{{ film.allocine }}">Allociné</a>{% endif %}
                            </dd>
                        {% endif %}
                    </dl>
                </div>
            {% endfor %}
        </div>
        <div class="span3">
            {% if edit %}
                <h2>Modifier : </h2>
            {% else %}
                <h2>Ajouter : </h2>
            {% endif %}
            <form method="post" action="films">
                {% csrf_token %}
                {{ filmform.as_p }}
                <br>
                {% if edit %}
                    <input type="hidden" name="slug" value="{{ slug }}" />
                    <button type="submit" class="btn">Modifier</button>
                {% else %}
                    <button type="submit" class="btn">Ajouter \o/</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}
